Python File 2

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("modified_final_df.csv")
df.head()

,Customer_ID,Month,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Credit_Score,Occupation_encoded,Auto Loan,Credit-Builder Loan,Personal Loan,Home Equity Loan,Mortgage Loan,Student Loan,Debt Consolidation Loan,Payday Loan
0,3392,1,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,Good,12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,3392,2,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,Good,12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,3392,3,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,Good,12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,3392,4,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,...,Good,12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,3392,5,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,...,Good,12,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [3]:
# Continuing on with data encoding
# Encoding Credit_Mix
# Create an instance of the label encoder.
label_encoder = LabelEncoder()

# Create a new column named "Credit_Mix_encoded" where Credit_Mix is numerated.
df['Credit_Mix_encoded'] = label_encoder.fit_transform(df['Credit_Mix'])

# Create a dataframe to show the mappings of "Credit_Mix" entries
credit_mix_mapping = pd.DataFrame({
    'Credit Mix': label_encoder.classes_,
    'Encoded_Value': range(len(label_encoder.classes_))
})

print(credit_mix_mapping)

  Credit Mix  Encoded_Value
0        Bad              0
1       Good              1
2   Standard              2

In [4]:
# Dropping the "Credit_Mix" column
df.drop('Credit_Mix', axis = 1, inplace = True)

In [5]:
# Encoding "Payment_of_Min_Amount"

# Create an instance of the label encoder.
label_encoder = LabelEncoder()

# Create a new column named "Payment_of_Min_Amount_encoded" where Payment_of_Min_Amount is numerated.
df['Payment_of_Min_Amount_encoded'] = label_encoder.fit_transform(df['Payment_of_Min_Amount'])

# Create a dataframe to show the mappings of "Payment_of_Min_Amount" entries
Payment_of_Min_Amount_mapping = pd.DataFrame({
    'Payment_of_Min_Amount': label_encoder.classes_,
    'Encoded_Value': range(len(label_encoder.classes_))
})

print(Payment_of_Min_Amount_mapping)

  Payment_of_Min_Amount  Encoded_Value
0                    NM              0
1                    No              1
2                   Yes              2

In [6]:
# Dropping the "Payment_of_Min_Amount" column
df.drop('Payment_of_Min_Amount', axis = 1, inplace = True)

In [7]:
# Encoding "Payment_Behaviour"

# Create an instance of the label encoder.
label_encoder = LabelEncoder()

# Create a new column named "Payment_Behaviour_encoded" where Payment_Behaviour is numerated.
df['Payment_Behaviour_encoded'] = label_encoder.fit_transform(df['Payment_Behaviour'])

# Create a dataframe to show the mappings of "Payment_Behaviour" entries
Payment_Behaviour_mapping = pd.DataFrame({
    'Payment_Behaviour': label_encoder.classes_,
    'Encoded_Value': range(len(label_encoder.classes_))
})

print(Payment_Behaviour_mapping)

                  Payment_Behaviour  Encoded_Value
0   High_spent_Large_value_payments              0
1  High_spent_Medium_value_payments              1
2   High_spent_Small_value_payments              2
3    Low_spent_Large_value_payments              3
4   Low_spent_Medium_value_payments              4
5    Low_spent_Small_value_payments              5

In [8]:
# Dropping the "Payment_Behaviour" column
df.drop('Payment_Behaviour', axis = 1, inplace = True)

In [9]:
# Encoding "Credit_Score"

# Create an instance of the label encoder.
label_encoder = LabelEncoder()

# Create a new column named "Credit_Score" where Credit_Score is numerated.
df['Credit_Score_encoded'] = label_encoder.fit_transform(df['Credit_Score'])

# Create a dataframe to show the mappings of "Credit_Score" entries
Credit_Score_mapping = pd.DataFrame({
    'Credit_Score': label_encoder.classes_,
    'Encoded_Value': range(len(label_encoder.classes_))
})

print(Credit_Score_mapping)

  Credit_Score  Encoded_Value
0         Good              0
1         Poor              1
2     Standard              2

In [10]:
# Dropping the "Credit_Score" column
df.drop('Credit_Score', axis = 1, inplace = True)

In [11]:
# Save the encoded dataframe to a CSV file
df.to_csv('data_encoded.csv', index=False)

Onto data_visualizations to see data relations